# Assignment 2-2

In [1]:
import pandas as pd

In [2]:
# def curl(fname, path, fmode):
#     """
#     copy url=path, save as fname, read and write as 'wb' mode
#     """
#     import urllib.request, urllib.parse, urllib.error
    
#     file = urllib.request.urlopen(path).read()
#     with open(fname, fmode) as fhand:
#         fhand.write(file)
        
# fname = 'Geospatial_data.csv'
# path = 'http://cocl.us/Geospatial_data'
# fmode = 'wb'
# curl(fname, path, fmode)

In [3]:
Geo_df = pd.read_csv('Geospatial_data.csv')
Geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:
Pc_df = pd.read_csv('Pc_Canada_clean.csv')
Pc_df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [5]:
Pc_df.shape

(103, 3)

In [6]:
Geo_df.shape

(103, 3)

In [7]:
df = pd.merge(Pc_df, Geo_df, how='inner', left_on=['Postcode'], right_on=['Postal Code'])

In [8]:
df.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [11]:
df.drop(columns = ['Postal Code'], inplace=True)
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [12]:
df.to_csv('Pc_Geo_Canada.csv', index=None)